.container {
  display: flex;
  flex-direction: row;
}

.prev {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.next {
  display: block;
  flex-shrink: 0;
}

.line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.cut-wrapper {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

.wrapper {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
